/*style go here*/

/*p {
    color: red;
}*/

p {
	color: #4087ad;
    font-family: 'BioRhyme Expanded', serif;
  text-align:center;
}
.italic {
     font-weight: bold;
}


h1 {
  font-family: 'Ubuntu', sans-serif;

color:#4087ad;
text-align:center;}

body{
	background-color:#ebe3ce;
}

#container{
    width: 95%;
    margin: 0 auto;
}

.navigation{  padding: 0;
	list-style-type: none;
  display: flex;
	flex-flow: column;
}

.navigation li {
    margin: 0;
    padding: 0;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}

.navigation a:link, a:visited {
	display:block;
    color: #E8CCFF;
    background-color: #4087ad;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
  font-family: 'Noto Sans', sans-serif;
}

.navigation a:hover, a:active {
    background-color: #FFCCCC;

}






img {
	border: none;
text-align:center;
}
/*Setting up flexible boxes for our content*/
.wrapper{
  display: flex;
  flex-flow: column wrap;
}
.navigation{
	display: flex;
	flex-flow: column;

}

/* When greater than 800px wide */

	 .navigation {
     display: flex;
       flex-flow: row wrap;
       justify-content: space-around;
       flex-flow: row;
       background-color: #4087ad;

   }
	 .navigation a:hover, a:active {
	     background-color: #FFCCCC;

	 }

	 img {
          width: 45%
          float: left;
          margin-right: 10px;

				}
		article{
					display: flex;
					flex-flow: row;
					flex-wrap: wrap;
				}
