/*style go here*/

/*p {
    color: red;
}*/

p {
	color: #4087ad;
    font-family: 'BioRhyme Expanded', serif;
  /*text-align: right;*/
}

.italic {
     font-weight: bold;
}


h1 {
  font-family: 'Ubuntu', sans-serif;
  color:#4087ad;
  text-align:center;
}

body{
	background-color:#ebe3ce;
}

/*#container{
    width: 95%;
    margin: 0 auto;
}*/

/*#nav {  padding: 0;
	list-style-type: none;
  display: flex;
	flex-flow: column;
}
#nav li {
    margin: 0;
    padding: 0;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}*/

#nav a:link, #nav a:visited {
	display:block;
    color: #E8CCFF;
    background-color: #4087ad;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
  font-family: 'Noto Sans', sans-serif;
}

#nav a:hover, a:active {
    background-color: #FFCCCC;

}

.image{
	width: 45%;
	margin-right: 10px;
}




img {
	width: 50%;
	object-fit: contain;
}

/*Setting up flexible boxes for our content*/
.wrapper{
  display: flex;
  flex-flow: row wrap;
}
.navigation{
	list-style:none;
	margin:0;
	background:gray;
	padding:0;
	display: flex;
	flex-flow: column;

}
.navigation a {
	           text-decoration: none;
	             display:block;
							 color:white;
							    text-align:center;
									padding: 10px;
									border-bottom:1px solid black;
}

.navigation li:last-of-type a{
	border-bottom: none;
}

header, article {
	flex:1 100%
	padding: 10px
}

@media (min-width:600px) {

  .navigation{

    	flex-flow: row;
      justify-content: flex-end;
  }

  .navigation a {
    border: none;

  }
.navigation a:hover {
  background: black;
}
  .navigation li:last-of-type a{
  }

header{
display: block;
width: 100%;
order:1;
}

.wrapper{
  display: flex;
  flex-flow: row wrap;
}

.aside-1{
  background:#ebe3ce;
}




/* When greater than 800px wide */

@media (min-width:800px) {

	.navigation {
        flex-flow: row wrap;
        justify-content: flex-end;
    }

    .navigation a {
        border: none;
    }

    .navigation a:hover {
    	background: #c0b283;
    }


	 img {
          width: 100%;
          float: right;
          margin-right: 10px;
					margin-top: 5px;

				}
			.story {
         width: 45%;
     }

		article{
					display: flex;
					flex-flow: row;
					flex-wrap: wrap;
				}


	  aside {
			 flex: 0.2 auto;
	 }
	 .aside-1 {
			order: 1;
	}

	article {
			order: 2;
	}

	.aside-2 {
			order: 3;
	}

	footer {
			order: 4;
	}

	.image {
  grid-area: a;
}

.story {
  grid-area: b;
}

.pullquote {
  grid-area: c;
}

article {
  display: grid;
  grid-template-columns: 200px 1fr 1fr 1fr;
  grid-template-areas:
  "a b"
  ". c";
}
